.group {
  padding: 0;
  border-radius: var(--mantine-radius-default);
  background: var(--mantine-primary-color-1);
  overflow: hidden;
}
.header{
  background: var(--mantine-primary-color-2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
}

.headerInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info{
  padding: rem(5px);
}

.collapsible {
  padding: rem(5px);
  flex-grow: 1;
  margin: 0;
  overflow: auto;
}